
    <h1>Uptime Monitoring</h1>
    <h2>Made Simple</h2>
    <div class="blurb">We offer free simple up-time monitoring for HTTP/HTTPS sites of all kinds. When your site goes down we'll send you a text to let you know. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut egestas arcu. Cras vitae velit vel metus pulvinar
    interdum non sed orci. Etiam malesuada vulputate ante, ut mattis diam efficitur et. Maecenas efficitur nulla nec elit
    imperdiet, ut mollis nibh semper. Aliquam risus erat, tincidunt nec fringilla eu, fringilla sit amet dolor. Mauris
    eleifend lacus vel est aliquet, id imperdiet tellus viverra. Nullam quis velit eget erat efficitur gravida nec lacinia
    eros. Sed faucibus viverra lobortis. In iaculis lectus ac sem tincidunt rhoncus. Mauris sed tempor ligula. Praesent
    facilisis quis orci at aliquam. Vivamus tincidunt hendrerit imperdiet. Phasellus sagittis eleifend pellentesque. Nunc
    sodales lectus libero, vel sagittis ligula pharetra eu.</div>
    <div class="ctaWrapper">
        <a class="cta green" href="account/create">Get Started</a>
        <a class="cta blue" href="session/create">Login</a>
    </div>